 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
 }
 
 header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem 2rem 1rem 2rem;
     background-color: #333;
 }
 
 .logo {
     font-family: Arial, sans-serif;
     font-size: 30px;
     font-weight: bold;
     text-transform: uppercase;
     color: #ffffff;
     text-shadow: 3px 3px #333333, 5px 5px #666666;
     max-width: 5rem;
 }
 
 .nav-list {
     list-style-type: none;
     display: flex;
     gap: 1rem;
 }
 
 .nav-list li a {
     text-decoration: none;
     color: #fff;
 }
 
 .abrir-menu,
 .cerrar-menu {
     display: none;
 }
 
 @media screen and (max-width: 777px) {
     .abrir-menu,
     .cerrar-menu {
         display: block;
         border: 0;
         font-size: 1.25rem;
         cursor: pointer;
         background-color: fff;
     }
     .cerrar-menu {
         margin-top: 7px;
     }
     .nav {
         opacity: 0;
         visibility: hidden;
         display: flex;
         flex-direction: column;
         align-items: end;
         gap: 1rem;
         position: absolute;
         top: 0px;
         right: 0;
         bottom: 0;
         background-color: #333333;
         padding: 2rem;
         box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
     }
     .nav.visible {
         opacity: 1;
         visibility: visible;
     }
     .nav-list {
         flex-direction: column;
         align-items: end;
     }
     .nav-list a {
         color: #fff;
     }
 }